@model FDMC.Models.Cat

<h1>@Model.Name</h1>
<img src="@Model.ImageUrl" alt="@Model.Name" style="width:300px">


<FORM>
    <INPUT Type="BUTTON" Value="Homepage" Onclick="window.location.href='/'">
</FORM>